.interface-wrapper {
  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
    margin: 1.4rem 0;
    line-height: 1.5;
    color: #494e4e;
  }

  .navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.5rem;

    .logo-wrapper {
      height: 100%;

      img {
        max-height: 70%;
        max-width: 70%;
        object-fit: contain;
      }
    }

    .nav-items-wrapper {
      .nav-items {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        li {
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
    }
  }

  section {
    padding: 2.5rem;
  }

  main {
    display: flex;
    flex-direction: row;
    max-height: 90vh;
    padding: 0 2.5rem;

    .content-wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .email-input-wrapper {
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        width: 50%;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 1rem;

        input {
          border: none;
          height: 90%;
          width: 100%;
          background-color: transparent;
          padding-left: 0.5rem;

          &::placeholder {
            color: #ababab;
            font-family: 'Inter Variable';
            font-weight: 400;
          }

          &:focus {
            outline: none;
          }
        }

        button {
          border-radius: 0;
        }
      }
    }

    .image-wrapper {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      overflow: hidden;
      padding-top: 2rem;

      .image-inner-wrapper {
        height: 100%;
        width: 80%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      text-align: center;
      width: 40%;
      h2 {
        word-break: normal;
        font-weight: 600;
      }
    }

    .cards-wrapper {
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 1rem;
      max-width: 900px;

      .price-card {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        border-radius: 10px;
        .card-header {
          padding: 5px 0;
        }
        .card-body {
          padding: 1rem 0;
          .price-wrapper {
            .price {
              font-size: 2.5rem;
              font-weight: 600;
              margin-right: 0.5rem;
            }
            .price-period {
              font-size: 0.8rem;
            }
          }
          .description {
            font-size: 0.8rem;
          }
        }

        .features-list {
          li {
            font-size: 0.8rem;
            display: flex;
            align-items: center;

            

            &:not(:last-child) {
              margin-bottom: 1rem;
            }
          }
        }
        .card-footer {
          margin-top: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
